.header {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header h1 {
    margin-right: 10px;
}

.header button {
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container {
    display: flex;
    flex-wrap: wrap;

    width: 480px;
    height: 480px;
    margin: 20px auto;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* each grid square */
.square {
  border: 1px solid #eee;
  box-sizing: border-box;
}

.square.hovered {
    background-color: black;
}